.welcome__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 23%;

  background: rgb(11, 11, 11);
  padding-bottom: 50px;
}

@media (max-width: 1625px) {
  .welcome__container {
    grid-gap: 18%;
  }
}
@media (max-width: 1540px) {
  .welcome__container {
    grid-gap: 15%;
  }
}

@media (max-width: 1440px) {
  .welcome__container {
    grid-gap: 12%;
  }
}

@media (max-width: 1345px) {
  .welcome__container {
    grid-gap: 18%;
  }
}

@media (max-width: 1260px) {
  .welcome__container {
    grid-gap: 7%;
  }
}

@media (max-width: 1190px) {
  .welcome__container {
    grid-gap: 5%;
  }
}

@media (max-width: 1100px) {
  .welcome__container {
    grid-gap: 0%;
  }
}

@media (max-width: 1080px) {
  .welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }
}
