.login__container {
  width: 350px;
  height: 600px;
  padding: 40px;
  margin-top: 120px;
  margin-right: 100px;

  background: #ffffffc0;
  box-sizing: border-box;
  box-shadow: 0 15px 25px #00000099;
  border-radius: 10px;

  display: inline-block;
  animation: move-left 1.5s forwards;

  @media (max-width: 1022px) {
    margin-right: 0;
  }
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.login__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  font-family: "Sora", sans-serif;
  font-size: 30px;
  font-weight: 800;

  color: #00db7f;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 13px;
}

.login__input--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 250px;
}

.login__input--email {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;

  font-size: 16px;
  color: #000;

  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login__label--email {
  color: #00db7f;
  font-family: "Sora", sans-serif;
  font-size: 15px;

  transition: all 200ms ease-in-out;

  position: relative;
  pointer-events: none;
  top: -60px;
  transition: 0.2s ease all;
}

.login__input--email:focus ~ .login__label--email,
.login__input--email:not(:focus):valid ~ .login__label--email {
  top: -80px;
  padding-bottom: 3px;
  font-size: 10px;
}

.login__input--email:focus {
  outline: none;
  border-bottom: 1px solid #00db7f;
}

.login__input--email::-webkit-input-placeholder {
  color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 15px;
}
.login__input--email:-ms-input-placeholder {
  color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 15px;
}

.login__input--email::placeholder {
  color: transparent;
  font-family: "Sora", sans-serif;

  font-size: 15px;
}

.login__input--password {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;

  font-size: 16px;
  color: #000;

  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login__label--password {
  color: #00db7f;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  transition: all 200ms ease-in-out;

  position: relative;
  pointer-events: none;
  top: -60px;
  transition: 0.2s ease all;
}

.login__input--password:focus ~ .login__label--password,
.login__input--password:not(:focus):valid ~ .login__label--password {
  top: -80px;
  padding-bottom: 3px;
  font-size: 10px;
}

.login__input--password:focus {
  outline: none;
  border-bottom: 1px solid #00db7f;
}

.login__input--password::placeholder {
  color: transparent;
  font-family: "Sora", sans-serif;
  font-size: 15px;
}

.login__button--container {
  display: flex;
  justify-content: center;
}

.login__button {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;

  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: none;

  background-color: #00db7f;
  color: #000000;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);

  cursor: pointer;
}

.login__button:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}

.login__button:active {
  opacity: 0.4;
}

.login__text--container {
  display: flex;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.login__text--register_access_first {
  margin-top: 20px;
  margin-bottom: -8px;

  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.login__text--register_access_second {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.login__text--special_color {
  color: #00db7f;
}

.login__paragraph--warning {
  color: #db2500;
  font-family: "Sora", sans-serif;
  font-size: 14px;
  margin-top: -40px;
  position: absolute;
  z-index: 10;
}
