.product__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: "Sora", sans-serif;
}

.product__card {
  position: relative;
  margin: 20px;
  width: 345;
  text-align: center;
}

.product__image {
  width: 417.44px;
  height: 465px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 40px;
  object-fit: cover;
  cursor: pointer;
}

@media (min-width: 451px) and (max-width: 531px) {
  .product__image {
    width: 367.44px;
    height: 415px;
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  .product__image {
    width: 317.44px;
    height: 365px;
  }
}

@media (min-width: 376px) and (max-width: 399px) {
  .product__image {
    width: 292.44px;
    height: 340px;
  }
}

@media (max-width: 375px) {
  .product__image {
    width: 252.44px;
    height: 300px;
  }
}

.product__text {
  flex: 100;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 15px;
}

.product__text--category {
  font-weight: lighter;
  font-size: 120%;
}

.product__text--title {
  margin-top: -5px;
  font-size: 150%;
}

.product__text--price {
  margin-top: -10px;
  font-size: 120%;
}
