.welcome__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 100px;

  background: rgb(11, 11, 11);
  padding-bottom: 50px;
}
@media (max-width: 1022px) {
  .welcome__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }
}
