.navigation__header {
  font-family: "Sora", sans-serif;
  margin-top: 60px;
  margin-left: 60px;
}

@media (max-width: 755px) {
  .navigation__header {
    position: sticky;
    z-index: 999;
    margin-top: 20px;
    margin-left: 0;
  }
}

.navigation__container {
  background-color: white;
  padding-bottom: 30px;
}
@media (max-width: 755px) {
  .navigation__container {
    position: sticky;
    z-index: 999;
    top: 0;
  }
}

.navigation__image--logo {
  filter: invert(100%);
  width: 250px;
}

@media (max-width: 755px) {
  .navigation__image--logo {
    width: 175px;
    height: 75px;
  }
}

.menu__link--cart {
  display: flex;
}

.menu__svg--cart {
  margin-bottom: 20px;
  width: 25px;
  filter: invert(59%) sepia(97%) saturate(884%) hue-rotate(104deg)
    brightness(94%) contrast(101%);
}

.menu__text--firstname {
  margin-top: -20px;

  font-size: 15px;
  color: #00db7f;

  text-transform: capitalize;
  text-align: right;
}

@media (max-width: 755px) {
  .menu__text--firstname {
    margin-top: -10px;
  }
}

.menu__logged > a {
  color: #00db7f;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: normal;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  padding: 1.2em;
  position: relative;
  margin-bottom: 50px;

  z-index: 50;
}

.menu__text--color {
  color: #00db7f;
}

.menu__container {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  margin: 0;
  padding: 0;
  position: relative;

  z-index: 50;
}

.menu__container > li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  font-size: 20px;
}

.menu__button--container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu__toggle {
  display: none;
}

.menu__button,
.menu__button::before,
.menu__button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 5px;
  width: 40px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu__button::before {
  content: "";
  margin-top: -10px;
}

.menu__button::after {
  content: "";
  margin-top: 10px;
}

#menu__toggle:checked + .menu__button--container .menu__button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu__toggle:checked + .menu__button--container .menu__button {
  background: rgba(255, 255, 255, 0);
}

#menu__toggle:checked + .menu__button--container .menu__button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 755px) {
  .menu__button--container {
    display: flex;
  }

  .menu__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    top: -1000px;
    margin-top: 145px;
    left: 0;
  }

  #menu__toggle:checked ~ .menu__container {
    top: 0;
  }

  #menu__toggle ~ .menu__container li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu__toggle:checked ~ .menu__container li {
    border: 0.25px solid #333;
    height: 5.5em;
    padding: 0.5em;
    align-items: center;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu__container > li {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #000;
    background-color: #fff;
  }

  .menu__container > li:not(:last-child) {
    border-bottom: 0.25px solid #444;
  }
}
